{% extends 'base.html' %}

{% load  static %}
{% block content %}
    <div style="margin-top:100px"></div>
    <div class="container">
        {#        if login #}
        {% if request.user.is_authenticated %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Fees</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <div> {% for a in vet %}
                    <tr>
                        <td>{{ a.firstname }} {{ a.lastname }}</td>
                        <td>Rs. {{ a.fees }}</td>
                        <td>
                            <a class="btn btn-success" href="{% url 'appointment_form' a.username %}">Book Now</a>
                        </td>
                    </tr>

                {% endfor %}
                </div>
                </tbody>
            </table>
            <div class="headline text-center mb-5">
            <a class="btn btn-success" href="{% url 'view_appointment_history' %}"> View Appointment History</a>
            </div>
        {% else %}
            <span><a class="hello-msg" href="{% url 'register' %}"> You must log in before booking an appointment!</a> </span>
        {% endif %}
    </div>
    <div style="margin-top:200px"></div>
{% endblock content %}