{% extends 'base.html' %}
{% load  static %}
{% block content %}
    <div style="margin-top:100px"></div>
    <h1>checkout page</h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    <div id="user-info">
                        <div class="form-field">
                            <label>
                                <input required class="form-control" type="text" name="name" placeholder="Name..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input required class="form-control" type="email" name="email" placeholder="Email..">
                            </label>
                        </div>
                    </div>

                    <div id="shipping-info">
                        <hr>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="address" placeholder="Address..">
                            </label>
                        </div>
                        <div class="form-field">
                            <label>
                                <input class="form-control" type="text" name="city" placeholder="City..">
                            </label>
                        </div>

                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>
            <br>
            <div class="box-element hidden" id="payment-info">
                <small>Esewa Payment</small>
                <span><a id="make-payment" class="btn btn-success" href="{% url 'esewa-rqst' %}">Pay</a></span>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}" alt=""></div>
                    <div style="flex:2"><p>{{ item.product.title }}</p></div>
                    <div style="flex:1"><p>{{ item.product.price }}</p></div>
                    <div style="flex:1"><p>{{ item.quantity }}</p></div>
                </div>
                <h5>Items: {{ order.get_cart_items }}</h5>
                <h5>Total: Rs. {{ order.get_cart_total|floatformat:2 }}</h5>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        let shipping = '{{order.shipping}}'
        let total = '{{ order.get_cart_total }}'


        if (shipping === 'False') {
            document.getElementById('shipping-info').innerHTML = ''
        }

        let form = document.getElementById('form')

        csrftoken = form.getElementsByTagName("input")[0].value
        console.log('Token', form.getElementsByTagName("input")[0].value)
        form.addEventListener('submit', function (e) {
            e.preventDefault()
            console.log('Form Submitted')
            document.getElementById('form-button').classList.add("hidden");
            document.getElementById('payment-info').classList.remove("hidden");
        })
        document.getElementById('make-payment').addEventListener('click', function (e) {
            submitFormData()
        })

        function submitFormData() {
            console.log('Payment Button')
            let userFormData = {
                'name': null,
                'email': null,
                'total': total,

            }
            let shippingInfo = {
                'address': null,
                'city': null,
            }
            if (shipping !== 'False') {
                shippingInfo.address = form.address.value
                shippingInfo.address = form.city.value
            }
            let url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    alert('Transaction Successful');
                    window.location.href = "{% url 'store' %}"
                })

        }
    </script>
{% endblock content %}