<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="https://uat.esewa.com.np/epay/main" method="POST">
    <input value="{{ order.get_cart_total }}" name="tAmt" type="text">
    <input value="{{ order.get_cart_total }}" name="amt" type="text">
    <input value="5" name="txAmt" type="text">
    <input value="2" name="psc" type="text">
    <input value="3" name="pdc" type="text">
    <input value="EPAYTEST" name="scd" type="text">
    <input value="order_{{ order.id }}" name="pid" type="text">
    <input value="http://127.0.0.1:8000" type="text" name="su">
    <input value="{{ request.build_absoulte_uri}}" type="text" name="fu">
    <input value="Submit" type="submit">
</form>

</body>
</html>