{% extends 'base.html' %}
{% load  static %}
{% block content %}
    <div style="margin-top:100px"></div>
    <div class="container">
        <h3> All Products</h3>
        <hr>
        <div class="row">
            {% for product in prods %}
                <div class="col-lg-4">
                    <img class="thumbnail" src="{{ product.image.url }}" alt="">
                    <div class="box-element product">
                        <h6><strong>{{ product.title }}</strong></h6>
                        <hr>

                        <button data-product={{ product.id }} data-action="add"
                                class="btn btn-outline-secondary add-btn update-cart">Add to Cart
                        </button>
                        <h4 style="display: inline-block; float: right">
                            <strong>Rs{{ product.price|floatformat:2 }}</strong></h4>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}